# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ibrahima IB BARRY\Videos\Bilimsel Arastirma\sunum\Projet\Tutoriels-master\OpenCV\tutoriel8-2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
